<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path('home')}}"><img src="{{asset('images/Logo.png')}}" class="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                         🔒 Espace client
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        {% if app.user %}
                            <li>
                                <a class="dropdown-item" href="{{path('app_logout')}}"> déconnexion </a>
                            </li>
                        {% else %}
                            <li>
                                <a class="dropdown-item" href="{{path('app_register')}}"> s'inscrire </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{path('app_login')}}"> connexion </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

            
            <li>
                <a href="{{path('liste_marque')}}" class="nav-link px-2 text-white"> Marque </a>
            </li>
           
    
            {% if app.user %}
            {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                <li>
                    <a href="{{path('detail_voiture_new')}}" class="nav-link text-white">
                      <i class="fas fa-border-all" width="24" height="24"></i>
                      admin-voiture 
                    </a>
                </li>
                <li>
                    <a href="{{path('marque_de_voiture_new')}}" class="nav-link text-white">
                      <i class="fas fa-border-all" width="24" height="24"></i>
                      admin-marque 
                    </a>
                </li>
             {% endif %}
          {% endif %}

            <li>
                <a href="{{path('contact_new')}}" class="nav-link px-2 text-white"> Prendre contact </a>
            </li>
            {% if app.user %}
            <li>
                <a href="#" class="nav-link px-2 text-white"> Réservation en ligne </a>
            </li>
            {% endif %}
            <li>
                <a href="#" class="nav-link px-2 text-white"> À propos </a>
            </li>
        </ul>
      </div>
    </div>
  </header>